#titulo{
  height: 350px;
  position: absolute;
  top: 50%;
  left: -8%;
  transform: translate(-8%, -50%);
  height: 350px;
}
#mapa{
  height: 350px;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-95%, -50%);
}
.fotopajaro{
  height: 100px;
  opacity: 100%;
}

#dprincipal{
  width: 900px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#simbologia{
position:absolute;
top: 50%;
left: 60%;
transform: translate(-60%, -50%);
}

.info{
  width: 600px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 32.5%;
  transform: translate(-32.5%, -50%);
}

.daudio{
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-90%, -90%);
}

#darriba{
  display: flex;
  flex-direction: line;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

#dderecha{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 97.5%;
  transform: translate(-97.5%, -50%);
}

#dabajo{
  display: flex;
  flex-direction: line;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
}

#dizquierda{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 2.5%;
  transform: translate(-2.5%, -50%);
}

body{
  background-color: #BBF1FA;
}

#divextra{
  width: 300px;
  position: absolute;
  top: 65%;
  left: 75%;
  transform: translate(-75%, -65%);
}
.textopajaro{
  font-family:Verdana;
  font-size: 12px;
  color:#663F3F;

}

.textomapa{
  font-family:Verdana;
  font-size: 10px;
  color:#663F3F;

}
.titulopajaro{
  font-family:Verdana;
  font-size: 22px;
  letter-spacing: 6px;
}

#titulocondor{
  color: #EC4646;
}

#titulogarzacuca{
  color: #007355;
}

#titulohuala{
  color: #BBF1FA;
}

#tituloaguila{
  color: #BBF1FA;
}

#titulobandurria{
  color: #BBF1FA;
}

#titulocormoran{
  color: #BBF1FA;
}

#tituloquetru{
  color: #EC4646;
}

#titulocaiquen{
  color: #EC4646;
}

#titulocaranca{
  color: #BBF1FA;
}

#titulopeuco{
  color: #EC4646;
}

#titulotagua{
  color: #BBF1FA;
}

#tituloaguilucho{
  color: #007355;
}

#titulopatoreal{
  color: #BBF1FA;
}

#titulotucuquere{
  color: #BBF1FA;
}

#titulocarpintero{
  color: #EC4646;
}

#titulopilpilen{
  color: #BBF1FA;
}

#titulomartinpescador{
  color: #007355;
}

#titulopatocorrentino{
  color: #EC4646;
}

#titulochoroy{
  color: #BBF1FA;
}

#titulotorcaza{
  color: #007355;
}

#tituloconcon{
  color: #EC4646;
}

#titulocernicalo{
  color: #BBF1FA;
}

#titulotordo{
  color: #BBF1FA;
}

#titulohuethuet{
  color: #EC4646;
}

#titulodiuca{
  color: #BBF1FA;
}

#titulochincol{
  color: #BBF1FA;
}

#titulorayadito{
  color: #BBF1FA;
}

#titulochercan{
  color: #007355;
}

#titulopicaflor{
  color: #EC4646;
}

#titulocachudito{
  color: #BBF1FA;
}

.enlace{
  font-family:Verdana;
  font-size: 11px;
  color:#663F3F;
  line-height: 1px;
}


.circulolagunadellaja {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1800%, -1100%);
}

.circulononguen {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1450%, -1200%);
}

.circulohuerquehue {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1800%, -140%);
}

.circulovillarrica {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1800%, -270%);
}

.circulonahuelbuta {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1350%, -900%);
}

.circuloconguillio {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1700%, -500%);
}

.circulotolhuaca {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1800%, -700%);
}

.circuloalercecostero {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1400%, -100%);
}

.circulopumalin {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1700%, 1200%);
}

.circulopuyehue {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1700%, 180%);
}

.circulovicenteperezrosales {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1500%, 400%);
}

.circulocorcovado {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1700%, 1300%);
}

.circuloalerceandino {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1660%, 600%);
}

.circulochiloe {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1200%, 1300%);
}

.circulohornopiren {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ec4646;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(1700%, 950%);
}