#titulo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: white;
    position: relative;
    left: 20px;
}

.fotopajaro{
    height: 100px;
    opacity: 50%;
}
#dprincipal{
    width: 900px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#darriba{
    display: flex;
    flex-direction: line;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

#dderecha{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 97.5%;
    transform: translate(-97.5%, -50%);
}

#dabajo{
    display: flex;
    flex-direction: line;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
}

#dizquierda{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translate(-2.5%, -50%);
}

body{
    background-color: #191A19;
}

#d2{
    position:absolute;
    right: 110px;
    top: 120px;
}
#d3{
    position:absolute;
    right: 100px;
    top: 150px;
}
#d4{
    position:absolute;
    right: 160px;
    top: 180px;
}
#d5{
    position:absolute;
    right: 90px;
    top: 250px;
}
#d6{
    position:absolute;
    right: 250px;
    top: 410px;
}
#puyehue{
    background-color: aliceblue;
    border: 1px solid #034aa6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #034aa6;
}
#vicente{
    background-color: aliceblue;
    border: 1px solid #034aa6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #034aa6;
}#alerce{
    background-color: aliceblue;
    border: 1px solid #034aa6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #034aa6;
}#hornopiren{
    background-color: aliceblue;
    border: 1px solid #034aa6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #034aa6;
}
#chiloe{
    background-color: aliceblue;
    border: 1px solid #034aa6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #034aa6;
}

#d9{
    background: rgba(255, 255, 255, 0.75);
    width: 840px;
    height: 330px;
    position: absolute;
    top: 195px;
    left: 30px;
}
#d12{
    background: rgba(255, 255, 255, 0.75);
    width: 840px;
    height: 330px;
    position: absolute;
    top: 195px;
    left: 30px;
}
#info{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #034aa6;
    position: absolute;
    left: 140px;
    top: 112px;
    opacity: 1;
}



