#titulo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: white;
    position: relative;
    left: 20px;
    background-color: hsla(214, 96%, 33%, 0.5);
    background-size: 100;
}
#subtitulo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color:white;
    position: relative;
    left: 20px;
    background-color: hsla(0, 72%, 49%, 0.5);
}
#d1{
    position: absolute;
    right: 50px;
    top: 50px;
}
#d2{
    position:absolute;
    right: 110px;
    top: 120px;
}
#d3{
    position:absolute;
    right: 100px;
    top: 150px;
}
#d4{
    position:absolute;
    right: 160px;
    top: 180px;
}
#d5{
    position:absolute;
    right: 90px;
    top: 250px;
}
#d6{
    position:absolute;
    right: 250px;
    top: 410px;
}
#puyehue{
    background-color: aliceblue;
    border: 1px solid navy;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: navy;
}
#vicente{
    background-color: aliceblue;
    border: 1px solid navy;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: navy;
}#alerce{
    background-color: aliceblue;
    border: 1px solid navy;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: navy;
}#hornopiren{
    background-color: aliceblue;
    border: 1px solid navy;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: navy;
}
#chiloe{
    background-color: aliceblue;
    border: 1px solid navy;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: navy;
}
body{
    background-image: url("https://denomades.imgix.net/destinos/puerto-varas/495/parque-nacional-sendero-alerce-andino.jpg?w=750&h=408&fit=crop&q=auto");
    background-size: 85rem;
  }
#d9{
    background: rgba(255, 255, 255, 0.5);
    width: 840px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 30px;
}
#tituloalerce{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #034aa6;
    position: relative;
    left: 20px;
    opacity: 1;
}
